.gradle/
build/
bin/
gen/
out/
*.class
*.dex
*.apk
*.ap_
*.jks
*.iml
*.log
.externalNativeBuild
com_crashlytics_export_strings.xml
local.properties
.idea/libraries
.idea/tasks.xml
.idea/gradle.xml
.idea/workspace.xml
.navigation/
.DS_Store


